### Alpha Bravo Charlie - Uberization of P&C Insurance

##### Below Jupyter notebook mentions all the steps followed to create the datasets for our demo

There are 3 tables used in the demo. 

 - Underwriting Data
 - Flexi Rate Data
 - Add on Data

All the above tables are created using the base table "Insurance_Demo" as reference. You can find all datasets in the /datasets folder. Following are the steps used to create all the above datasets -

### Steps to create Underwriting Data

In [2]:
import pandas as pd
from random import *

In [2]:
dataframe = pd.read_csv(r'C:\Users\sinnsr\Desktop\FLXathon\Insurance_Demo.csv') #insert your path to the base data here

In [4]:
dataframe.columns

Index(['Cust_ID', 'zip_code', 'effective_date', 'City', 'Country', 'Age',
       'Bluebook', 'Rating_Category', 'State_Long', 'DUI', 'Claim_Flag',
       'Npolicy', 'Home_Val', 'Proj_Premium', 'Income', 'Prem_Adjustment',
       'Region', 'City_Lat', 'Parent1', 'Occupation', 'State_Lat',
       'Country_Lat', 'Region_Lat', 'Kidsdriv', 'City_Long', 'Risk_Score',
       'Country_Long', 'Cellphone', 'Mstatus', 'Clm_Freq', 'TIF', 'Expenses',
       'Clm_Amt', 'random_discount', 'Achieved_Premium', 'Statistical_Premium',
       'random_number', 'Base Rate', 'Car_Use', 'YOJ', 'Education', 'State',
       'Revoked', 'Gender', 'Mvr_points', 'Urbanicity', 'Region_Long',
       'Car_Age', 'Policyno', 'Clm_Date', 'Travtime', 'Car_Type',
       'effective_yr', 'effective_mo', 'clm_yr', 'clm_mo', 'premium_factor',
       'claim_factor', 'Base Premium', 'Unnamed: 59'],
      dtype='object')

In [5]:
length = len(dataframe)

##### Generate Mobile Numbers

In [6]:
from faker import Faker
fake = Faker('hi_IN')

In [7]:
from faker.providers import phone_number

In [8]:
fake.phone_number()

'06019 459891'

In [9]:
mobile_number = []

In [10]:
for _ in range(length):
    i = fake.phone_number()
    mobile_number.append(i)

In [12]:
dataframe['mobile_number'] = mobile_number

##### Creating Fuel Type

In [14]:
car_type = dataframe['Car_Type'].unique()

In [15]:
list(car_type)

['Sports Car', 'Van', 'SUV', 'Panel Truck', 'Minivan', 'Pickup']

In [16]:
fuel_type = { 0 : 'Petrol',
              1 : 'Diesel',
              2 : 'Hybrid'    
}

In [17]:
random_list = []

In [18]:
for _ in range(length):
    x = randint(0,2)
    random_list.append(x)

In [19]:
dataframe['random'] = random_list

In [20]:
dataframe['Fuel_Type'] = dataframe['random'].map(fuel_type)

##### Generating CC for different Car Types

In [34]:
cc_frame = {
    'Sports Car' : [4000,5000,6000,7000], 
    'Van': [2000,2400,2800,3000], 
    'SUV': [3000,3200,3400,3900], 
    'Panel Truck': [2000,2200,2400,2800], 
    'Minivan': [700,900,1050,1200], 
    'Pickup': [3100,3250,3600,4000]    
}

In [44]:
cubic_cc = []

In [49]:
for i in range(length):
    cc_list = cc_frame[dataframe['Car_Type'][i]]
    value = random.choice(cc_list)
    cubic_cc.append(value)

In [51]:
dataframe['Cubic_cc'] = cubic_cc

##### Generate Make of the Car

In [57]:
make_dict = {
    'Sports Car' : ['Jaguar','BMW','Nissan','Lexus','Corvette'], 
    'Van': ['Hyundai','Jeep','Kia','Renault'], 
    'SUV': ['Audi','Land Rover','Skoda','Mercedes'], 
    'Panel Truck': ['Chevrolet','Jeep','ISUZU'], 
    'Minivan': ['Honda','Maruti','Hyundai','Toyota'], 
    'Pickup': ['Toyota','Nissan','Ford']    
}

In [56]:
car_make = []

In [59]:
for i in range(length):
    make_list = make_dict[dataframe['Car_Type'][i]]
    value = random.choice(make_list)
    car_make.append(value)

In [60]:
dataframe['Make'] = car_make

##### Generate Year of Make

In [63]:
years = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]
yom = []

In [64]:
for i in range(length):
    value = random.choice(years)
    yom.append(value)

In [65]:
dataframe['Year_of_Manuf'] = yom

#### Making Cities, States India Specific (edit the city/state names here to customize to your geography)

In [72]:
dataframe['State'].unique()

array(['ALABAMA', 'MAINE', 'WASHINGTON', 'KANSAS', 'OHIO', 'PENNSYLVAN',
       'DELAWARE', 'MONTANA', 'LOUISIANA', 'TEXAS', 'GEORGIA',
       'NORTH CARO', 'HAWAII', 'NEW JERSEY', 'UTAH', 'MICHIGAN',
       'COLORADO', 'OREGON', 'CALIFORNIA', 'FLORIDA', 'NEBRASKA',
       'MINNESOTA', 'IOWA', 'TENNESSEE', 'NEW YORK', 'CONNECTICU',
       'MISSOURI', 'VIRGINIA', 'KENTUCKY', 'WEST VIRGI', 'ILLINOIS',
       'ARKANSAS', 'SOUTH CARO', 'OKLAHOMA', 'MISSISSIPP', 'MARYLAND',
       'ALASKA', 'ARIZONA', 'WISCONSIN', 'MASSACHUSE', 'NEW MEXICO',
       'NORTH DAKO', 'WYOMING', 'RHODE ISLA', 'IDAHO', 'INDIANA',
       'SOUTH DAKO', 'NEVADA', 'NEW HAMPSH', 'VERMONT', 'DISTRICT O'],
      dtype=object)

In [76]:
city_dict = {'ALABAMA' : 'Madurai', 
             'MAINE' : 'Pune' ,
             'WASHINGTON' : 'Nagpur',
             'KANSAS': 'Jaipur',
             'OHIO': 'Udaipur', 
             'PENNSYLVAN': 'Jodhpur',
             'DELAWARE': 'Delhi', 
             'MONTANA': 'Ahmedabad',
             'LOUISIANA': 'Chennai', 
             'TEXAS':'Hyderabad', 
             'GEORGIA':'Kolkata',
             'NORTH CARO':'Bangalore', 
             'HAWAII':'Kanpur', 
             'NEW JERSEY':'Indore', 
             'UTAH':'Nashik', 
             'MICHIGAN':'Agra',
             'COLORADO':'Srinagar', 
             'OREGON':'Howrah', 
             'CALIFORNIA':'Mumbai', 
             'FLORIDA':'Solapur', 
             'NEBRASKA':'Guntur',
             'MINNESOTA':'Kochi', 
             'IOWA':'Cuttack', 
             'TENNESSEE':'Nanded', 
             'NEW YORK':'Kolhapur', 
             'CONNECTICU':'Ajmer',
             'MISSOURI':'Akola', 
             'VIRGINIA':'Jammu', 
             'KENTUCKY':'Gaya', 
             'WEST VIRGI':'Agartala', 
             'ILLINOIS':'Patiala',
             'ARKANSAS':'Latur', 
             'SOUTH CARO':'Dhule', 
             'OKLAHOMA':'Satara', 
             'MISSISSIPP':'Kollum',
             'MARYLAND':'Panipat',
             'ALASKA':'Dewas', 
             'ARIZONA':'Karnal', 
             'WISCONSIN':'Durg',
             'MASSACHUSE':'Ratlam', 
             'NEW MEXICO':'Pali',
             'NORTH DAKO':'Anand', 
             'WYOMING':'Fatehpur',
             'RHODE ISLA':'Raebareli', 
             'IDAHO':'Guna', 
             'INDIANA':'Gangtok',
             'SOUTH DAKO':'Amaravati', 
             'NEVADA':'Morbi', 
             'NEW HAMPSH':'Alwar',
             'VERMONT':'Buxar', 
             'DISTRICT O':'Leh'}

In [79]:
dataframe['Cities'] = dataframe['State'].map(city_dict)

###### Export to CSV

In [81]:
dataframe.to_csv('underwriting_data.csv')

This is the first dataset used for Fixed Premium Calcultion in our storyline

### Steps to create Flexi Rate Data

The Underwriting data created in the first step was used to train a GLM/Forest Model. Basis the champions model output, the flexible rate data was created. 

You will notice in the below data being imported there are columns "P_Achieved_Premium', "EM_PREDICTION", which are model outputs

In [2]:
flexi_rate = pd.read_csv(r'C:\Users\sinnsr\OneDrive - SAS\FLXathon 2020\datasets\flexi_data_latest.csv') #insert your data path here

In [4]:
flexi_rate.columns

Index(['_dmIndex_', 'Cust_ID', 'zip_code', 'effective_date', 'Country', 'Age',
       'Car Price', 'Bluebook', 'Rating_Category', 'State_Long', 'DUI',
       'Claim_Flag', 'Npolicy', 'Home_Val', 'Proj_Premium', 'Income',
       'Prem_Adjustment', 'Region', 'City_Lat', 'Parent1', 'Occupation',
       'State_Lat', 'Country_Lat', 'Region_Lat', 'Kidsdriv', 'City_Long',
       'Risk_Score', 'Country_Long', 'Cellphone', 'Mstatus', 'Clm_Freq', 'TIF',
       'Expenses', 'Clm_Amt', 'random_discount', 'Statistical_Premium',
       'random_number', 'Base Rate', 'Base Rate.1', 'YOJ', 'Education',
       'State', 'Revoked', 'Gender', 'Mvr_points', 'Urbanicity', 'Region_Long',
       'Car_Age', 'Policyno', 'Clm_Date', 'Travtime', 'Car_Type',
       'effective_yr', 'effective_mo', 'clm_yr', 'clm_mo', 'premium_factor',
       'claim_factor', 'mobile_number', 'random', 'Fuel_Type', 'CC', 'Make',
       'YOM', 'RTO_Location', '_PARTITION84_', '_va_d__PARTITION84__ONES',
       'Achieved_Premium', 'P_Achieved_Premium', 'EM_PREDICTION'],
      dtype='object')

We created 3 discount bands for creation of our training data. The discounts were logically chosen basis the Occupation, Car Type, Car Age etc. You can further modify this to suit your usecase.

In [16]:
top_disc = [-45,-46,-47,-48,-49,-50]
med_disc = [-38,-39,-40,-41,-42,-43,-44]
low_disc = [-30,-31,-32,-33,-34,-35,-36,-37]
final_value = []
import random

In [5]:
flexi_rate['Occupation'].unique()

array(['Clerical', 'Blue Collar', 'Manager', 'Home Maker', 'Lawyer',
       'Professional', 'Student', 'Doctor'], dtype=object)

In [8]:
flexi_rate['Car_Type'].unique()

array(['Sports Car', 'Pickup', 'SUV', 'Minivan', 'Van', 'Panel Truck'],
      dtype=object)

In [18]:
for i in range(len(flexi_rate)):
    
    car_type = flexi_rate['Car_Type'][i]
    car_age = flexi_rate['Car_Age'][i]
    occupation = flexi_rate['Occupation'][i]
    #print(car_type,terrain_type,no_claims,car_age)
    v = 0
    #print('here')
    
    if car_type in ['SUV','Sports Car']:
        if occupation in ['Blue Collar','Lawyer','Doctor']:
        #print('first')
            if car_age <=2:
                v = random.choice(top_disc)/100
                final_value.append(v)
            else:
                v = random.choice(med_disc)/100
                final_value.append(v)
        else:
            v = random.choice(low_disc)/100
            final_value.append(v)            
            
    elif car_type in ['Minivan', 'Van', 'Panel Truck','Pickup']:
        if occupation in ['Blue Collar','Lawyer','Doctor']:
            if car_age <=2:
                v = random.choice(top_disc)/100
                final_value.append(v)
            else:
                v = random.choice(med_disc)/100
                final_value.append(v)   
        else:
            v = random.choice(low_disc)/100
            final_value.append(v)
    else:
        final_value.append(0)

In [20]:
flexi_rate['Discounts'] = final_value

In [22]:
flexi_rate['Flexi Rate'] = flexi_rate['P_Achieved_Premium'] + flexi_rate['P_Achieved_Premium']*flexi_rate['Discounts']

In [25]:
flexi_rate.to_csv('flexi_data.csv',index=False)

This is the second dataset used to predict the Flexible Premium price in our storyline

### Create Data for Add-on Coverage (when the customer is on the move)

This is the third data used for the prediction of add on premium when the customer is on the move in our storyline

 - We import the second dataset flexi_data.csv and add a column 'travel_days' randomly
 - We added 3 terrains (Mountain, Highway, Forest) to suit our storyline - you can modify it accordingly

In [133]:
filtered_df = pd.read_csv(r'C:\Users\sinnsr\Desktop\FLXathon\flexi_data_latest.csv')

In [138]:
for i in range(len(filtered_df)):
    
    value = random_number[i]
    if 0.3 <= value <= 0.34:
        travel_days.append(random.choice(list_d))
    elif 0.35 <= value <= 0.37:
        travel_days.append(random.choice(list_c))
    elif 0.38 <= value <= 0.42:
        travel_days.append(random.choice(list_b))
    elif 0.43 <= value <= 0.45:
        travel_days.append(random.choice(list_a))
    else:
        travel_days.append(0)

In [139]:
filtered_df['Travel Days'] = travel_days

In [17]:
terrains = ['Mountain', 'Highway', 'Forest']
terrains_list = []

In [18]:
for i in range(len(filtered_df)):
    v = random.choice(terrains)
    terrains_list.append(v)

In [19]:
filtered_df['Terrains'] = terrains_list

We added a base rate for each terrain type.

In [21]:
base_rate = {
    'Mountain': 500,
    'Highway': 200,
    'Forest': 700
}

In [22]:
filtered_df['terrain_base_rate'] = filtered_df['Terrains'].map(base_rate)

In [24]:
filtered_df['terrain_statistical_premium'] = filtered_df['terrain_base_rate'] * filtered_df['Travel_Days']

In [25]:
filtered_df

,Cust_ID,zip_code,effective_date,Country,Age,Car Price,Bluebook,Rating_Category,State_Long,DUI,...,CC,Make,YOM,RTO_Location,Achieved_Premium,P_Achieved_Premium,Travel_Days,Terrains,terrain_base_rate,terrain_statistical_premium
0,115672,.,02-07-10,India,35,778800,64900,A,-88.9829,0,...,5000,BMW,2017,Durg,40009.54,55063.933120,3,Mountain,500,1500
1,115673,.,02-07-09,India,34,848892,70741,A,-88.9829,0,...,4000,Nissan,2018,Durg,35548.80,56886.670540,2,Mountain,500,1000
2,115674,73547,09-05-11,India,48,1308432,109036,A,-96.8641,0,...,7000,Corvette,2018,Satara,72718.70,58882.659860,3,Mountain,500,1500
3,115675,73547,09-05-10,India,47,1465440,122120,A,-96.8641,0,...,7000,Nissan,2019,Satara,89671.25,60337.482870,4,Forest,700,2800
4,115676,46140,01-11-11,India,26,96672,8056,C,-86.2710,0,...,3600,Nissan,2007,Gangtok,4992.90,6930.359989,6,Highway,200,1200
5,115677,46140,01-11-10,India,25,103440,8620,C,-86.2710,0,...,4000,Nissan,2008,Gangtok,5241.78,8729.206526,6,Mountain,500,3000
6,115678,46140,01-11-09,India,24,117924,9827,C,-86.2710,0,...,3600,Nissan,2009,Gangtok,4578.30,10519.532820,3,Mountain,500,1500
7,115679,57661,06/27/2011,India,33,417852,34821,B,-99.0922,1,...,3400,Skoda,2015,Amaravati,27763.34,24930.660960,1,Highway,200,200
8,115680,57661,06/27/2010,India,32,480528,40044,B,-99.0922,1,...,3400,Audi,2016,Amaravati,23825.28,26822.357570,4,Mountain,500,2000
9,115681,57661,06/27/2009,India,31,547800,45650,B,-99.0922,1,...,3400,Mercedes,2017,Amaravati,21572.19,28520.584540,8,Highway,200,1600
10,115682,61817,03/29/2011,India,27,273036,22753,C,-88.3961,0,...,3900,Audi,2013,Patiala,16862.86,21474.771000,3,Highway,200,600
11,115683,61817,03/29/2010,India,26,289416,24118,C,-88.3961,0,...,3000,Mercedes,2014,Patiala,17381.10,23248.540840,7,Forest,700,4900
12,115684,61817,03/29/2009,India,25,315468,26289,C,-88.3961,0,...,3200,Audi,2015,Patiala,14241.30,25090.575660,3,Highway,200,600
13,115685,56169,01-03-11,India,53,152832,12736,A,-93.6086,0,...,700,Hyundai,2009,Kochi,8874.34,6372.619952,4,Highway,200,800
14,115686,56169,01-03-10,India,52,175752,14646,A,-93.6086,0,...,900,Maruti,2010,Kochi,9236.50,8132.248377,5,Highway,200,1000
15,115687,56169,01-03-09,India,51,193332,16111,A,-93.6086,0,...,700,Maruti,2011,Kochi,9123.42,9879.632672,6,Highway,200,1200
16,115691,.,05/17/2011,India,39,378816,31568,A,-81.6528,0,...,4000,Nissan,2016,Solapur,21996.48,23272.974520,7,Highway,200,1400
17,115692,.,05/17/2010,India,38,409116,34093,A,-81.6528,0,...,3250,Toyota,2017,Solapur,24575.24,24990.370760,3,Forest,700,2100
18,115693,.,05/17/2009,India,37,441840,36820,A,-81.6528,0,...,3100,Toyota,2018,Solapur,17982.55,26783.374850,3,Forest,700,2100
19,115694,97462,11/16/2011,India,42,422376,35198,A,-122.5848,0,...,3100,Nissan,2014,Howrah,24055.85,20526.879370,6,Mountain,500,3000
20,115695,97462,11/16/2010,India,41,477288,39774,A,-122.5848,0,...,3600,Toyota,2015,Howrah,18739.10,22216.845310,10,Highway,200,2000
21,115696,78017,01-11-11,India,26,638832,53236,C,-97.4423,0,...,3400,Skoda,2014,Hyderabad,42772.81,22283.495290,8,Mountain,500,4000
22,115697,78017,01-11-10,India,25,702720,58560,C,-97.4423,0,...,3900,Skoda,2015,Hyderabad,40149.90,24090.131760,10,Highway,200,2000
23,115698,78017,01-11-09,India,24,780024,65002,C,-97.4423,0,...,3000,Skoda,2016,Hyderabad,26646.60,25896.826650,3,Mountain,500,1500
24,115702,.,04-04-11,India,38,529740,44145,A,-157.5721,0,...,2400,Kia,2013,Kanpur,32511.60,16697.273910,3,Mountain,500,1500
25,115703,.,04-04-10,India,37,572124,47677,A,-157.5721,0,...,3000,Renault,2014,Kanpur,30728.34,18356.707750,3,Forest,700,2100
26,115704,.,04-04-09,India,36,623616,51968,A,-157.5721,0,...,2800,Renault,2015,Kanpur,23360.61,20154.366320,9,Mountain,500,4500
27,115705,.,08/23/2011,India,42,403440,33620,A,-96.5830,0,...,3250,Nissan,2015,Jaipur,30399.60,21561.246570,3,Highway,200,600
28,115706,.,08/23/2010,India,41,459924,38327,A,-96.5830,0,...,4000,Ford,2016,Jaipur,27197.26,23434.093410,1,Forest,700,700
29,115707,.,08/19/2011,India,44,303444,25287,A,-74.6941,0,...,3100,Ford,2016,Kolhapur,15986.80,24031.021990,6,Forest,700,4200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129699,48616,73842,11-01-10,India,26,261660,21805,C,-96.8641,0,...,3000,Renault,2015,Satara,14071.32,20465.064620,5,Highway,200,1000
129700,48617,73842,11-01-09,India,25,279972,23331,C,-96.8641,0,...,3000,Hyundai,2016,Satara,13397.70,22332.547650,3,Highway,200,600
129701,48618,55765,08/20/2011,India,40,279996,23333,A,-93.6086,0,...,1200,Toyota,2014,Kochi,16258.50,15294.302850,6,Highway,200,1200
129702,155277,12189,09-03-11,India,42,273480,22790,A,-74.6941,0,...,3000,Kia,2013,Kolhapur,17874.10,16881.278170,2,Highway,200,400
129703,155278,.,09-10-11,India,59,523968,43664,A,-82.7383,0,...,2000,Kia,2014,Udaipur,32692.40,19285.893680,5,Forest,700,3500
129704,155279,.,09-10-10,India,58,555408,46284,A,-82.7383,0,...,3000,Jeep,2015,Udaipur,28966.69,21139.569590,10,Mountain,500,5000
129705,155280,.,09-10-09,India,57,588732,49061,A,-82.7383,0,...,2400,Hyundai,2016,Udaipur,29743.84,22824.972580,2,Forest,700,1400
129706,155281,67502,07-10-11,India,38,682884,56907,A,-96.5830,0,...,2400,ISUZU,2015,Jaipur,35232.48,31618.226010,6,Mountain,500,3000
129707,155282,67502,07-10-10,India,37,744348,62029,A,-96.5830,0,...,2200,ISUZU,2016,Jaipur,32764.64,33417.189400,7,Mountain,500,3500
129708,155283,67502,07-10-09,India,36,803892,66991,A,-96.5830,0,...,2800,ISUZU,2017,Jaipur,27521.72,35216.415690,9,Highway,200,1800
129709,155287,54896,09-06-11,India,37,712812,59401,A,-88.9829,0,...,4000,Lexus,2014,Durg,46802.84,49949.079110,6,Highway,200,1200
129710,155288,54896,09-06-10,India,36,812604,67717,A,-88.9829,0,...,7000,Lexus,2015,Durg,38237.38,51675.732450,1,Highway,200,200
129711,155289,54896,09-06-09,India,35,877608,73134,A,-88.9829,0,...,5000,Nissan,2016,Durg,34024.94,53935.743880,2,Forest,700,1400
129712,155290,61013,11-07-11,India,28,463812,38651,C,-88.3961,0,...,2000,Hyundai,2013,Patiala,30521.46,17639.673380,10,Highway,200,2000
129713,155291,61013,11-07-10,India,27,524112,43676,C,-88.3961,0,...,2000,Hyundai,2014,Patiala,24612.77,19354.641820,4,Highway,200,800
129714,155292,61013,11-07-09,India,26,592248,49354,C,-88.3961,0,...,2400,Jeep,2015,Patiala,20094.52,21207.504450,2,Highway,200,400
129715,155293,.,01/20/2011,India,40,111192,9266,A,-119.3619,0,...,3200,Mercedes,2009,Mumbai,7591.36,13178.491100,8,Forest,700,5600
129716,155294,.,01/20/2010,India,39,122316,10193,A,-119.3619,0,...,3200,Land Rover,2010,Mumbai,6868.80,15202.527260,6,Forest,700,4200
129717,155295,.,01/20/2009,India,38,136992,11416,A,-119.3619,0,...,3200,Land Rover,2011,Mumbai,6431.34,16999.436050,8,Forest,700,5600
129718,155296,.,03/13/2011,India,47,719676,59973,A,-93.0540,0,...,3200,Mercedes,2016,Cuttack,52398.08,26950.256320,2,Mountain,500,1000
129719,155297,.,03/13/2010,India,46,813228,67769,A,-93.0540,0,...,3000,Land Rover,2017,Cuttack,39529.08,28878.739220,3,Highway,200,600
129720,155298,.,03/13/2009,India,45,886416,73868,A,-93.0540,0,...,3400,Mercedes,2018,Cuttack,36948.74,30332.070890,6,Forest,700,4200
129721,155299,.,10-01-11,India,73,215652,17971,A,-81.6528,0,...,3000,Jeep,2013,Solapur,15144.95,20120.352330,4,Forest,700,2800
129722,155300,.,10-01-10,India,72,228588,19049,A,-81.6528,0,...,2800,Jeep,2014,Solapur,11859.75,21833.782260,6,Mountain,500,3000
129723,155301,.,10-01-09,India,71,256020,21335,A,-81.6528,0,...,3000,Kia,2015,Solapur,10032.26,23405.505590,10,Forest,700,7000
129724,155303,46031,09-10-11,India,39,578808,48234,A,-86.2710,0,...,4000,Nissan,2015,Gangtok,39798.00,21241.248050,7,Highway,200,1400
129725,155304,46031,09-10-10,India,38,636684,53057,A,-86.2710,0,...,3600,Nissan,2016,Gangtok,33968.48,23046.297320,4,Highway,200,800
129726,155305,30531,08-01-11,India,41,944844,78737,A,-83.8337,0,...,4000,Jaguar,2016,Kolkata,57401.10,52574.429140,7,Mountain,500,3500
129727,155306,.,04/23/2011,India,31,515820,42985,B,-86.2710,0,...,3400,Audi,2017,Gangtok,34623.40,28612.673160,6,Highway,200,1200
129728,155307,.,04/23/2010,India,30,551928,45994,B,-86.2710,0,...,3000,Skoda,2018,Gangtok,30322.98,30186.133670,5,Highway,200,1000

In [26]:
filtered_df.columns

Index(['Cust_ID', 'zip_code', 'effective_date', 'Country', 'Age', 'Car Price',
       'Bluebook', 'Rating_Category', 'State_Long', 'DUI', 'Claim_Flag',
       'Npolicy', 'Home_Val', 'Proj_Premium', 'Income', 'Prem_Adjustment',
       'Region', 'City_Lat', 'Parent1', 'Occupation', 'State_Lat',
       'Country_Lat', 'Region_Lat', 'Kidsdriv', 'City_Long', 'Risk_Score',
       'Country_Long', 'Cellphone', 'Mstatus', 'Clm_Freq', 'TIF', 'Expenses',
       'Clm_Amt', 'random_discount', 'Statistical_Premium', 'random_number',
       'Base Rate', 'Base Rate.1', 'YOJ', 'Education', 'State', 'Revoked',
       'Gender', 'Mvr_points', 'Urbanicity', 'Region_Long', 'Car_Age',
       'Policyno', 'Clm_Date', 'Travtime', 'Car_Type', 'effective_yr',
       'effective_mo', 'clm_yr', 'clm_mo', 'premium_factor', 'claim_factor',
       'mobile_number', 'Fuel_Type', 'CC', 'Make', 'YOM', 'RTO_Location',
       'Achieved_Premium', 'P_Achieved_Premium', 'Travel_Days', 'Terrains',
       'terrain_base_rate', 'terrain_statistical_premium'],
      dtype='object')

In [27]:
filtered_df['Make'].unique()

array(['BMW', 'Nissan', 'Corvette', 'Skoda', 'Audi', 'Mercedes',
       'Hyundai', 'Maruti', 'Toyota', 'Kia', 'Renault', 'Ford',
       'Land Rover', 'Jaguar', 'Jeep', 'Lexus', 'Chevrolet', 'ISUZU',
       'Honda'], dtype=object)

In [28]:
filtered_df['Car_Type'].unique()

array(['Sports Car', 'Pickup', 'SUV', 'Minivan', 'Van', 'Panel Truck'],
      dtype=object)

In [29]:
filtered_df.head(10)

,Cust_ID,zip_code,effective_date,Country,Age,Car Price,Bluebook,Rating_Category,State_Long,DUI,...,CC,Make,YOM,RTO_Location,Achieved_Premium,P_Achieved_Premium,Travel_Days,Terrains,terrain_base_rate,terrain_statistical_premium
0,115672,.,02-07-10,India,35,778800,64900,A,-88.9829,0,...,5000,BMW,2017,Durg,40009.54,55063.933120,3,Mountain,500,1500
1,115673,.,02-07-09,India,34,848892,70741,A,-88.9829,0,...,4000,Nissan,2018,Durg,35548.80,56886.670540,2,Mountain,500,1000
2,115674,73547,09-05-11,India,48,1308432,109036,A,-96.8641,0,...,7000,Corvette,2018,Satara,72718.70,58882.659860,3,Mountain,500,1500
3,115675,73547,09-05-10,India,47,1465440,122120,A,-96.8641,0,...,7000,Nissan,2019,Satara,89671.25,60337.482870,4,Forest,700,2800
4,115676,46140,01-11-11,India,26,96672,8056,C,-86.2710,0,...,3600,Nissan,2007,Gangtok,4992.90,6930.359989,6,Highway,200,1200
5,115677,46140,01-11-10,India,25,103440,8620,C,-86.2710,0,...,4000,Nissan,2008,Gangtok,5241.78,8729.206526,6,Mountain,500,3000
6,115678,46140,01-11-09,India,24,117924,9827,C,-86.2710,0,...,3600,Nissan,2009,Gangtok,4578.30,10519.532820,3,Mountain,500,1500
7,115679,57661,06/27/2011,India,33,417852,34821,B,-99.0922,1,...,3400,Skoda,2015,Amaravati,27763.34,24930.660960,1,Highway,200,200
8,115680,57661,06/27/2010,India,32,480528,40044,B,-99.0922,1,...,3400,Audi,2016,Amaravati,23825.28,26822.357570,4,Mountain,500,2000
9,115681,57661,06/27/2009,India,31,547800,45650,B,-99.0922,1,...,3400,Mercedes,2017,Amaravati,21572.19,28520.584540,8,Highway,200,1600

#### Whether to load or discount is driven by Car_Type, Terrain_Type, No of claims, Car Age

In [30]:
load_list = [3,4,5,6,7]
disc_list = [-3,-4,-5,-6,-7]
final_value = []

In [31]:
for i in range(len(filtered_df)):
    
    car_type = filtered_df['Car_Type'][i]
    terrain_type = filtered_df['Terrains'][i]
    no_claims   = filtered_df['Clm_Freq'][i]
    car_age = filtered_df['Car_Age'][i]
    tsp = filtered_df['terrain_statistical_premium'][i]
    
    #print(car_type,terrain_type,no_claims,car_age)
    
    v = 0
    #print('here')
    
    if car_type in ['SUV','Pickup','Panel Truck'] and terrain_type in ['Mountain','Forest','Highway']:
        #print('first')
        if no_claims > 3 and car_age >=5:
            v = tsp + tsp*random.choice(load_list)/100
            final_value.append(v)
        else:
            v = tsp + tsp*random.choice(disc_list)/100
            final_value.append(v)                
            
    elif car_type in ['Sports Car','Minivan'] and terrain_type in ['Mountain','Forest']:
        v = tsp + tsp*0.1
        final_value.append(v)
        
    elif car_type in ['Sports Car','Minivan'] and terrain_type in ['Highway']:
        v = tsp - tsp*0.1
        final_value.append(v)
        
    elif car_type in ['Van'] and terrain_type in ['Mountain','Forest','Highway']:
        #print('inside Van')
        v = tsp + tsp*random.choice(disc_list)/100
        final_value.append(v)
    else:
        final_value.append(0)

In [32]:
filtered_df['add_on_premium'] = final_value

In [34]:
filtered_df.to_csv('final_add_on_data.csv')

## You now have all the three datasets. These are now loaded in SAS Viya environment for modelling and decisioning.